<div>
        <label>SR No:</label>
        <input pInputText type="text" placeholder="SR No">
        <label>Date:</label>
        <p-calendar dateFormat="yy-mm-dd" aria-placeholder="Date"></p-calendar>
</div>
<div>
    <label>P:</label>
    <input pInputText type="text" placeholder="Enter text">
    <label>D:</label>
    <input pInputText type="text" placeholder="Enter text">
<div>
    <label>Branch:</label>
    <input pInputText type="text" placeholder="Enter text">
    <label>CTS:</label>
    <input pInputText type="text" placeholder="Enter text">
</div>
<br />
<br />
<div>
    <label>Size:</label>
    
<div class="card flex justify-content-center">
    <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>
</div>
    <label>Number:</label>
    <p-dropdown placeholder="Select Number"></p-dropdown>
    <label>Carat:</label>
    <input pInputText type="text" placeholder="Enter text">
</div>
<br>
<div>
<button pButton class="btn btn-primary btn-block animate__animated animate__fadeInUp" type="submit" label="Add" ></button>
&nbsp;&nbsp;
<button pButton class="btn btn-primary btn-block animate__animated animate__fadeInUp" type="submit" label="View" ></button>
</div>



