<app-header (onClickMainIcon) = "myfunction()" iconName="pi-arrow-left" title="{{ PageTitle }}"></app-header>
<p-toast></p-toast>
<div *ngIf="!showViewSection">
    <div class="panel">    
        <div class="card flex justify-content-center customClass">
            <div style="margin: 8px; width: 100%;">
                <p-card>
                    <ng-template pTemplate="header">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <b style="font-size: 20px; padding-left: 1rem;">Basic Details</b>
                                </td>
                                <td style="text-align: end; padding-right: 1rem">
                                    <span>SrNo:</span><b> &nbsp;<span>10</span></b>
                                </td>
                            </tr>
                        </table>
                    </ng-template>
                    <div>
                        <table style="width: 100%;" [cellSpacing]="5">
                            <tr>                        
                                <td style="width: 50%;">   
                                    <span style="bottom: 5px; position: relative;">Date</span><br/>                         
                                    <p-calendar [showIcon]="true"></p-calendar>
                                </td>    
                                <td>   
                                    <span style="bottom: 5px; position: relative;">Branch</span><br/>                                                       
                                    <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>                            
                                </td>                    
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-top:10px;">   
                                    <span style="bottom: 5px; position: relative;">Party</span><br/>                                                       
                                    <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>                            
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-top:10px;">   
                                    <span style="bottom: 5px; position: relative;">Broker</span><br/>                                                       
                                    <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>                            
                                </td>
                            </tr>
                            <td colspan="2" style="padding-top:10px;">   
                                <span style="bottom: 5px; position: relative;">Catats</span><br/>                                                       
                                <input pInputText pKeyFilter="int" style="width: 100%;"/>                            
                            </td>
                        </table>
                        
                    </div>
                </p-card>
            </div>
        </div>
        
        <p-card class="customClass">
            <ng-template pTemplate="header">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b style="font-size: 20px; padding-left: 1rem;">Add Carats</b>
                        </td>
                    </tr>
                </table>
            </ng-template>
            <div>
                <table style="width: 100%;" [cellSpacing]="5">
                    <tr style="border-bottom: 1px groove red;">
                        <td style="width: 50%;">   
                            <span style="bottom: 5px; position: relative;">Size</span><br/>                                                       
                            <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>                            
                        </td>
                        <td style="width:50%;">   
                            <span style="bottom: 5px; position: relative;">Total Catats</span><br/>                                                       
                            <input pInputText pKeyFilter="int" style="width: 100%;"/>                            
                        </td>                        
                    </tr>
                    <tr>
                        <td colspan="2">   
                            <p-panel header="Number Details">
                                <table style="width:100%;">
                                    <tr>
                                        <td>   
                                            <span style="bottom: 5px; position: relative;">Number</span><br/>                                                       
                                            <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>                            
                                        </td>
                                        <td style="width:50%;">   
                                            <span style="bottom: 5px; position: relative;">CTS</span><br/>                                                       
                                            <input pInputText pKeyFilter="int" style="width: 100%;"/>                            
                                        </td>                                           
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="vertical-align: bottom;">                                                     
                                            <p-button label="Add Item" (onClick)="showMessage()"></p-button>                         
                                        </td>
                                    </tr>
                                </table>
                            </p-panel>                            
                        </td>
                    </tr>
                </table>
            </div>
        </p-card>   

        <p-card class="customClass">
            <ng-template pTemplate="header">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b style="font-size: 20px; padding-left: 1rem;">Notes</b>
                        </td>
                    </tr>
                </table>
            </ng-template>
            <div>
                <textarea rows="5" cols="30" pInputTextarea style="width: 100%;"></textarea>
            </div>
        </p-card>           
    </div>
    <p-button label="View Deatils" (onClick)="showDetails()" icon="pi pi-search"></p-button>    
</div>


<div *ngIf="showViewSection">
    <div class="panel">
        <p-card class="customClass">
            <ng-template pTemplate="header">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b style="font-size: 20px; padding-left: 1rem;">+2</b>
                        </td>
                        <td style="text-align: end; padding-right: 1rem; padding-top:2px;">
                            <span>Total CTS:</span><b> &nbsp;<span>22</span></b>
                        </td>
                    </tr>
                </table>
            </ng-template>
            
            <div>
                <p-table [value]="products" styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Number</th>
                            <th>CTS</th>
                            <th>Rate</th>
                            <th>%</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.number }}</td>
                            <td>{{ product.cts }}</td>
                            <td>{{ product.rate }}</td>
                            <td>{{ product.percentage }}</td>
                            <td>{{ product.amount }}</td>
                            <td>
                                <i class="pi text-red-500 pi-times-circle"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        <p-card class="customClass">
            <ng-template pTemplate="header">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b style="font-size: 20px; padding-left: 1rem;">+11</b>
                        </td>
                        <td style="text-align: end; padding-right: 1rem; padding-top:2px;">
                            <span>Total CTS:</span><b> &nbsp;<span>22</span></b>
                        </td>
                    </tr>
                </table>
            </ng-template>
            <div>
                <p-table [value]="products" styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Number</th>
                            <th>CTS</th>
                            <th>Rate</th>
                            <th>%</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.number }}</td>
                            <td>{{ product.cts }}</td>
                            <td>{{ product.rate }}</td>
                            <td>{{ product.percentage }}</td>
                            <td>{{ product.amount }}</td>
                            <td>
                                <i class="pi text-red-500 pi-times-circle"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        <p-card class="customClass">
            <ng-template pTemplate="header">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b style="font-size: 20px; padding-left: 1rem;">+6</b>
                        </td>
                        <td style="text-align: end; padding-right: 1rem; padding-top:2px;">
                            <span>Total CTS:</span><b> &nbsp;<span>22</span></b>
                        </td>
                    </tr>
                </table>
            </ng-template>
            <div>
                <p-table [value]="products" styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Number</th>
                            <th>CTS</th>
                            <th>Rate</th>
                            <th>%</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.number }}</td>
                            <td>{{ product.cts }}</td>
                            <td>{{ product.rate }}</td>
                            <td>{{ product.percentage }}</td>
                            <td>{{ product.amount }}</td>
                            <td>
                                <i class="pi text-red-500 pi-times-circle"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        <p-card class="customClass">
            <ng-template pTemplate="header">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b style="font-size: 20px; padding-left: 1rem;">Summary</b>
                        </td>
                    </tr>
                </table>
            </ng-template>
            <div>
                <p-table [value]="summary" styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Size Name</th>
                            <th>Percentage</th>
                            <th>Amount</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-summ>
                        <tr>
                            <td>{{ summ.sizeName }}</td>
                            <td>{{ summ.percentage }}</td>
                            <td>{{ summ.amount | currency: 'USD' }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="2" class="text-right">Totals</td>
                            <td>{{ 25000 | currency: 'USD'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </div>
    <p-button pRipple label="Save Details" [loading]="loading" (onClick)="saveDetails()" icon="pi pi-check" styleClass="p-button-success"></p-button>
</div>