<div class="header">
    <table class="table">
        <tr>
            <td style="width: 50px;">
                <p-button (click)="sidebarVisible = true" icon="pi pi-align-justify"></p-button>
            </td>
            <td class="title">
                <div>                    
                    <b>Diamond Trade</b>
                </div>
            </td>
            <td style="width: 50px;">
                <p-button (click)="sidebarVisible = true" icon="pi pi-ellipsis-v"></p-button>
            </td>
        </tr>
    </table>
    
</div>

<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="header">
            <div>
                <b style="font-size: 25px;"><i class="pi pi-spin pi-star-fill"></i> Diamond Trade</b>
            </div>

        </ng-template>
        <div style="padding: 0 1rem 1rem 1rem;">
            <span>Welcome, <span>Abhishek Bedre</span></span>
        </div>    
        <ng-template pTemplate="content">
            <div class="card flex justify-content-center">          
                <p-panelMenu class="panelMenu" [model]="items" [multiple]="false"></p-panelMenu>
            </div>
        </ng-template>
        
    </p-sidebar>    
</div>