<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<app-header [showSideBar]="true" title="Dashboard" iconName="pi-align-justify" leftIconName=""></app-header>


<ng-template #noDashboardMessage>
    <p>You have nothing to show.</p>
  </ng-template>

<div class="panel" *ngIf="showDashboard; else noDashboardMessage">
<!-- <app-filterbar (onClickSearchButton)="onSeach($event)"></app-filterbar> -->
<div class="panel">
    <div class="dashboard-container">
      <ng-container *ngFor="let rowData of dashBoardReportItems; let i = index">
        <div class="dashboard-row" *ngIf="i % 3 === 0 || i === 0">
          <div class="dashboard-cell">
            <a class="dashboard-item" [routerLink]="rowData.routerLink">
              <div class="dashboard-icon big-icon">
                <i [ngClass]="rowData.icon"></i>
              </div>
              <div class="dashboard-label">
                {{ rowData.label }}
              </div>
            </a>
          </div>
          <div class="dashboard-cell" *ngIf="i + 1 < dashBoardReportItems.length">
            <a class="dashboard-item" [routerLink]="dashBoardReportItems[i + 1].routerLink">
              <div class="dashboard-icon big-icon">
                <i [ngClass]="dashBoardReportItems[i + 1].icon"></i>
              </div>
              <div class="dashboard-label">
                {{ dashBoardReportItems[i + 1].label }}
              </div>
            </a>
          </div>
          <div class="dashboard-cell" *ngIf="i + 2 < dashBoardReportItems.length">
            <a class="dashboard-item" [routerLink]="dashBoardReportItems[i + 2].routerLink">
              <div class="dashboard-icon big-icon">
                <i [ngClass]="dashBoardReportItems[i + 2].icon"></i>
              </div>
              <div class="dashboard-label">
                {{ dashBoardReportItems[i + 2].label }}
              </div>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
<!-- <div class="panel">
    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Purchase</b>
            </ng-template>
            <span class="custom-amount">₹</span>
            <span class="amount">{{  purchaseData  }}</span>
        </p-card>
    </div>
    <br/>

    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Sales</b>
            </ng-template>
            <span class="custom-amount">₹</span>
            <span class="amount">{{ salesData }}</span>
        </p-card>
    </div>

    <br/>

    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Payment</b>
            </ng-template>
            <span class="custom-amount">₹</span>
            <span class="amount">{{ paymentData }}</span>
        </p-card>
    </div>

    <br/>

    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Receipt</b>
            </ng-template>
            <span class="custom-amount">₹</span>
            <span class="amount">{{ receiptData }}</span>
        </p-card>
    </div>
</div>  -->
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner strokeWidth="4" styleClass="w-3rem h-3rem"></p-progressSpinner>
  </div>
