<app-header [showSideBar]="true" title="Dashboard" iconName="pi-align-justify" leftIconName=""></app-header>


<ng-template #noDashboardMessage>
    <p>You have nothing to show.</p>
  </ng-template>

<div class="panel" *ngIf="showDashboard; else noDashboardMessage">
<!-- <app-filterbar (onClickSearchButton)="onSeach($event)"></app-filterbar> -->

<div class="panel">
    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Purchase</b>
            </ng-template>
            <!-- <i class="pi pi-inr custom-amount"></i> -->
            <span class="custom-amount">₹</span>
            <span class="amount">{{ purchaseData  }}</span>
        </p-card>
    </div>
    <br/>

    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Sales</b>
            </ng-template>
            <!-- <i class="pi pi-inr custom-amount"></i> -->
            <span class="custom-amount">₹</span>
            <span class="amount">{{ salesData }}</span>
        </p-card>
    </div>

    <br/>

    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Payment</b>
            </ng-template>
            <!-- <i class="pi pi-inr custom-amount"></i> -->
            <span class="custom-amount">₹</span>
            <span class="amount">{{ paymentData }}</span>
        </p-card>
    </div>

    <br/>

    <div class="card flex justify-content-center">
        <p-card subheader="" class="custom-design">
            <ng-template pTemplate="header">
                <b class="p-card-body header">Receipt</b>
            </ng-template>
            <!-- <i class="pi pi-inr custom-amount"></i> -->
            <span class="custom-amount">₹</span>
            <span class="amount">{{ receiptData }}</span>
        </p-card>
    </div>
</div>
</div>
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner strokeWidth="4" styleClass="w-3rem h-3rem"></p-progressSpinner>
  </div>
